{% extends 'base.html' %}
{% load static %}
{% block title %}
About Us
{% endblock %}

{% block content %}
<div class="main">
    <section class="about">
        <article>
            <h2>About HospitalBooking.com</h2>
            <p>At HospitalBooking.com, our mission is to empower healthier communities by providing seamless access to healthcare services. We understand the importance of efficient and convenient healthcare solutions, and we strive to connect patients with the best hospitals and medical professionals to meet their needs.</p>
            <img class="imgg1" src="{% static '/images//61vq+kTvDGS._AC_UF1000,1000_QL80_.jpg'%}" alt="...">
            <h3>Our Vision</h3>
            <p>Our vision is to revolutionize the way healthcare services are accessed and delivered. We envision a future where individuals can easily book appointments, access medical information, and receive quality care at their fingertips, leading to improved health outcomes and enhanced well-being for all.</p>

            <h3>Our Values</h3>
            <ul>
                <li><strong>Accessibility:</strong> We believe that everyone deserves access to quality healthcare, regardless of their location or background.</li>
                <li><strong>Transparency:</strong> We prioritize transparency in all our interactions, ensuring that patients have access to accurate information about healthcare facilities, services, and costs.</li>
                <li><strong>Innovation:</strong> We are committed to continuous innovation and improvement in the healthcare industry, leveraging technology and data-driven solutions to enhance the patient experience.</li>
            </ul>

            <h3>Our Goals</h3>
            <ul>
                <li><strong>Empowerment:</strong> Empower individuals to take control of their health and well-being by providing them with tools and resources to make informed healthcare decisions.</li>
                <li><strong>Collaboration:</strong> Foster collaboration and partnerships with healthcare providers to deliver comprehensive care to our users.</li>
                <li><strong>Impact:</strong> Make a meaningful impact on the healthcare industry and society by improving access to healthcare, reducing disparities, and promoting healthier communities worldwide.</li>
            </ul>
        </article>
    </section>


</div>
{% endblock %}